body {
    margin: 60px auto;
    width: 90%;
    height: 100%;
    background: #4E95E9; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top, #C2EFC9, #4E95E9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #C2EFC9, #4E95E9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #C2EFC9, #4E95E9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #C2EFC9, #4E95E9); /* Standard syntax (must be last) */
}
nav ul, footer ul {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    padding: 0px;
    list-style: none;
    font-weight: 300;
    text-transform: uppercase;
}
nav ul li, footer ul li {
    letter-spacing: 2px;    
    display: inline;
    margin-right: 20px;
    padding: 10px;
}
a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    display: inline-block;
    padding: 15px;
}
a.links {
    padding: 0px;  
}
a:hover {
    text-decoration: none;
    color: #1E3264;
}
.emoji {
    display: inline-block;
    padding: 6px;  
    margin: 0 0 0 25px;
    font-size: 20px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;    
    text-transform: uppercase;
    background: #1E3264;
    color: #FFFFFF; 
    display: inline-block;
    padding: 15px;
    margin: 15px 0 5px 30px; 
}
h3 {
    font-size: 1.25em;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
p {
    font-size: 1em;
    letter-spacing: 1px;    
    color: #1E3264;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    margin: 15px 10px 15px 15px; 
}
.about-blurb {
    text-align: justify;
    letter-spacing: 1px;
    color: #1E3264;
}
.project {
    /* display: inline-block; */
    text-align: center;
    padding: 15px;
    margin: 15px 10px 15px 15px; 
}
.circle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
	border-radius: 50%;
	width: 200px;
    height: 200px; 
    background: #1E3264;
    color: #C2EFC9;
    padding: 5px;
}
@media only screen and (min-device-width: 400px) {
.digital-image {
    background-image: url('')
    }
}
ul {
    font-size: 1em;
    line-height: 1.4em;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}
li {
    font-size: 1em;
    line-height: 1.4em;
    color: #1E3264;
    font-family: 'Montserrat', sans-serif;
}
footer {
    border-top: 1px solid #1E3264;;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.fa {
    padding: 2px;
    font-size: 13px;
    width: 8px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #1E3264;
    margin: 10px;
}